<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Fashion Fiesta</title>
    <link href="assest/css/bootstrap.css" rel="stylesheet">
    <link href="assest/css/My%20css.css" rel="stylesheet">
    <link rel="stylesheet" href="assest/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.css">
</head>
<body>
<section>
    <div class="container m-0">
        <div class="row vw-100">
            <div class="col-auto p-0">
                <div class="d-flex align-items-start flex-column nav-dash "
                     style="height: 100vh;width: 300px; border: solid">
                    <div class="mb-5 mt-5 p-2">
                        <img src="assest/image/My%20logo%20Black%20Background.png" style="width:70px;">
                        <h2 class="d-inline-block text-white">DEVIL</h2>
                    </div>
                    <div class="p-2">
                        <button id="Home" class="btn btn-primary dashBord-button" type="button"><i class="fa-solid fa-house m-2"></i>Home</button>
                    </div>
                    <div class="p-2">
                        <button id="Customer" class="btn btn-primary dashBord-button" type="button"><i class="fa-solid fa-user m-2"></i>Customer</button>
                    </div>
                    <div class="p-2">
                        <button id="Item" class="btn btn-primary dashBord-button" type="button"><i class="fa-solid fa-cubes-stacked m-2"></i>Items</button>
                    </div>
                    <div class="p-2">
                        <button id="Orders" class="btn btn-primary dashBord-button" type="button"><i class="fa-solid fa-cart-shopping m-2"></i>Orders</button>
                    </div>
                    <div class="p-2">
                        <button id="P-Order" class="btn btn-primary dashBord-button" type="button"><i class="fa-solid fa-cart-arrow-down m-2"></i>Place Order</button>
                    </div>
                </div>

            </div>
            <div class="col ">
                <!--             Home                -->
                <div  id="D-Bord">
                    <div class="row p-0">
                        <div>
                            <div class="d-inline-block text-white rounded-4 mt-5 m-5 p-3"
                                 style="width: 80%;height: 200px; background-color: #56e797">
                                <img id="image-Welcome" src="assest/image/—Pngtree—daily%20shopping%20cart_5398373.png" >
                                <h4 class="mb-4">WELCOME </h4>
                                <p>Hello highly valued customer. <br>We are glad to have you on the team. We promise to give you the best service. Welcome!</p>
                            </div>
                        </div>
                        <div class="m-5  w-auto " >
                            <div class="d-inline-block bg-primary-subtle rounded-4 mt-5 m-3 p-3"
                                 style="width: 200px;height: 100px;">
                                <h6>All Customers</h6>
                                <h3 class="m-3">+00</h3>
                            </div>
                            <div class="d-inline-block bg-primary-subtle rounded-4 m-3 p-3"
                                 style="width: 200px;height: 100px;">
                                <h6>All Customers Orders</h6>
                                <h3 class="m-3">+00</h3>
                            </div>
                            <div class="d-inline-block bg-primary-subtle rounded-4 m-3 p-3"
                                 style="width: 200px;height: 100px;">
                                <h6>All Customers Orders</h6>
                                <h3 class="m-3">+00</h3>
                            </div>

                            <div class="d-inline-block bg-primary-subtle rounded-4 m-3 p-3"
                                 style="width: 200px;height: 100px;">
                                <h6>All Customers Orders</h6>
                                <h3 class="m-3">+00</h3>
                            </div>
                        </div>
                        <div class="  ml" style="width: 80%;" >
                            <div class="d-inline-block bg-green rounded-4 mt-5 m-3 p-3"
                                 style="width: 200px;height: 100px;">
                                <h6>All Customers</h6>
                                <h3 class="m-3">+00</h3>
                            </div>
                            <div class="d-inline-block bg-green rounded-4 m-3 p-3"
                                 style="width: 200px;height: 100px;">
                                <h6>All Customers Orders</h6>
                                <h3 class="m-3">+00</h3>
                            </div>
                            <div class="d-inline-block bg-green rounded-4 m-3 p-3"
                                 style="width: 200px;height: 100px;">
                                <h6>All Customers Orders</h6>
                                <h3 class="m-3">+00</h3>
                            </div>


                        </div>
                        <div style="width: 600px;" class="mb-5  ml">
                            <h6>Today Employee Attendance</h6>
                            <div class="progress" role="progressbar"  aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 25%">25%</div>
                            </div>
                        </div>
                        <div style="width: 300px;" class="mb-5  ml">
                            <h6>Today Employee Attendance</h6>
                            <div class="progress" role="progressbar"  aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 25%">25%</div>
                            </div>
                        </div>
                        <div>
                            <img id="bg-img" src="assest/image/Top_Online_Fashion_Shops-removebg-preview.png">
                        </div>
                    </div>
                </div>
                <!--            customer                -->
                <section id="customer-form">
                    <div  class="row p-0">
                        <div class="col-auto p-5 mt-5" style="width: 70%;">

                            <div class="input-group rounded">
                                <input aria-describedby="search-addon" aria-label="Search" class="form-control rounded"
                                       placeholder="Search"
                                       type="search"/>
                                <span class="input-group-text border-0" id="search-addon"><i class="fa-solid fa-magnifying-glass"></i></i></span>
                            </div>


                            <div>
                                <div class="d-inline-block bg-primary-subtle rounded-4 mt-5 m-3 p-3"
                                     style="width: 200px;height: 100px;">
                                    <h6>All Customers</h6>
                                    <h3 class="m-3">+00</h3>
                                </div>
                                <div class="d-inline-block bg-primary-subtle rounded-4 m-3 p-3"
                                     style="width: 200px;height: 100px;">
                                    <h6>All Customers Orders</h6>
                                    <h3 class="m-3">+00</h3>
                                </div>

                            </div>
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Contact</th>
                                        <th scope="col">Mail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Jacob</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry the Bird</td>
                                        <td>Larry the Bird</td>
                                        <td>Larry the Bird</td>
                                        <td>Larry the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-auto p-3 "
                             style="width: 480px;height: 100vh; background-color: rgba(108,117,125,0.2)">
                            <div class="mt-5">
                                <h5>Customer From</h5>
                            </div>
                            <div class="input-group mb-4 mt-5">
                                <span class="input-group-text">First and last name</span>
                                <input aria-label="First name" class="form-control" type="text">
                                <input aria-label="Last name" class="form-control" type="text">
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-text">Address</span>
                                <input aria-label="First name" class="form-control" type="text">
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-text">Contact Number</span>
                                <input aria-label="First name" class="form-control" type="text">
                            </div>
                            <div class="input-group mb-3">
                                <input aria-describedby="basic-addon2" aria-label="Recipient's username"
                                       class="form-control"
                                       placeholder="your Gmail" type="text">
                                <span class="input-group-text" id="basic-addon2">@gmail.com</span>
                            </div>

                            <div class="mb-5">
                                <button class="btn btn-primary w-50" type="button">New Customer</button>
                                <button class="btn btn-success" type="button">Update</button>
                                <button class="btn btn-danger" type="button">Remove</button>
                            </div>

                            <img class="opacity-50" src="assest/image/—Pngtree—shopping%20cart_1459647.png" width="300">

                        </div>
                    </div>
                </section>
                <!--            Items                -->
                <section id="Item-from">
                    <div  class="row p-0">
                        <div class="col-auto p-5 mt-5" style="width: 70%;">
                            <div class="input-group rounded">
                                <input aria-describedby="search-addon" aria-label="Search" class="form-control rounded"
                                       placeholder="Search"
                                       type="search"/>
                                <span class="input-group-text border-0" id="search-add"><i class="fa-solid fa-magnifying-glass"></i></i></span>
                            </div>
                            <div>
                                <div class="d-inline-block bg-primary-subtle rounded-4 mt-5 m-3 p-3"
                                     style="width: 200px;height: 100px;">
                                    <h6>All Item</h6>
                                    <h3 class="m-3">+00</h3>
                                </div>
                                <div class="d-inline-block bg-primary-subtle rounded-4 m-3 p-3"
                                     style="width: 200px;height: 100px;">
                                    <h6>All Order</h6>
                                    <h3 class="m-3">+00</h3>
                                </div>

                            </div>
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Jacob</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry the Bird</td>
                                        <td>Larry the Bird</td>
                                        <td>Larry the Bird</td>
                                        <td>Larry the Bird</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-auto p-3 "
                             style="width: 480px;height: 100vh; background-color: rgba(108,117,125,0.2)">
                            <div class="mt-5">
                                <h5>Item From</h5>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="item-code">Item Code</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-Name">Description</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">Rs</span>
                                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">QTY</span>
                                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                            </div>

                            <div class="mb-5">
                                <button class="btn btn-primary w-50" type="button">New Item</button>
                                <button class="btn btn-success" type="button">Update</button>
                                <button class="btn btn-danger" type="button">Remove</button>
                            </div>
                            <img class="opacity-50" src="assest/image/—Pngtree—shopping%20cart_1459647.png" width="300">

                        </div>
                    </div>
                </section>
                <!--             Order              -->
                <section id="order-from" >
                    <div class="row p-0">
                        <div class="col-auto p-5 mt-5" style="width: 100%;">
                            <div class="input-group rounded">
                                <input aria-describedby="search-addon" aria-label="Search" class="form-control rounded"
                                       placeholder="Search"
                                       type="search"/>
                                <span class="input-group-text border-0" id="search-"><i class="fa-solid fa-magnifying-glass"></i></i></span>
                            </div>
                            <div>
                                <div class="d-inline-block bg-primary-subtle rounded-4 mt-5 m-3 p-3"
                                     style="width: 200px;height: 100px;">
                                    <h6>All Item</h6>
                                    <h3 class="m-3">+00</h3>
                                </div>
                                <div class="d-inline-block bg-primary-subtle rounded-4 m-3 p-3"
                                     style="width: 200px;height: 100px;">
                                    <h6>All Order</h6>
                                    <h3 class="m-3">+00</h3>
                                </div>

                            </div>
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                        <td>Otto</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Jacob</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry the Bird</td>
                                        <td>Larry the Bird</td>
                                        <td>Larry the Bird</td>
                                        <td>Larry the Bird</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </section>
                <!--            Place Order              -->
                <section id="PlaceOrder">
                    <div  class="row p-0">
                        <div class="col-auto p-5 mt-5" style="width: 70%;">
                            <div class="input-group rounded mb-5">
                                <input aria-describedby="search-addon" aria-label="Search" class="form-control rounded"
                                       placeholder="Search"
                                       type="search"/>
                                <span class="input-group-text border-0" id="search"><i class="fa-solid fa-magnifying-glass"></i></i></span>
                            </div>
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">#</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>I001</td>
                                        <td>Biscuit</td>
                                        <td>1000.00</td>
                                        <td>2</td>
                                        <td><button class="btn bg-danger text-white  "><i class="fa-solid fa-trash "></i></button></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>I002</td>
                                        <td>Juice</td>
                                        <td>200.00</td>
                                        <td>4</td>
                                        <td><button class="btn bg-danger text-white  "><i class="fa-solid fa-trash "></i></button></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>I003</td>
                                        <td>Rice</td>
                                        <td>300.00</td>
                                        <td>1</td>
                                        <td><button class="btn bg-danger text-white  "><i class="fa-solid fa-trash "></i></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-auto p-3 "
                             style="width: 480px;height: 100vh; background-color: rgba(108,117,125,0.2)">
                            <div class="mt-5">
                                <h5>Place Order From</h5>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Customer ID" aria-label="Dollar amount (with dot and two decimal places)">
                                <button class="btn btn-dark"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>

                            <div>
                                <h6>Customer Name</h6>
                                <p class="text-capitalize">XXXXX XXXXX</p>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Item Code" aria-label="Dollar amount (with dot and two decimal places)">
                                <button class="btn btn-dark"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>

                            <div>
                                <h6>Item Description</h6>
                                <p class="text-capitalize">XXXXX XXXXX</p>
                            </div>

                            <div>
                                <h6>Item QTY</h6>
                                <p class="text-capitalize">00</p>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">QTY</span>
                                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                            </div>

                            <div class="mb-5">
                                <button class="btn btn-primary w-50" type="button">Add Item</button>
                            </div>

                            <div class="mb-3">
                                <h4 class="d-inline-block input-group-text">Total</h4>
                                <h3 class="text-capitalize d-inline-block">00.00</h3>
                            </div>

                            <div class="input-group mb-5">
                                <span class="input-group-text">Rs</span>
                                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                            </div>

                            <div class="mb-5">
                                <button class="btn btn-success" type="button">Place Order</button>
                            </div>


                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>
<script src="assest/js/js/bootstrap.js"></script>
<script src="assest/js/MyScript.js"></script>


</body>
</html>