
body {
    background-color: #191E23
}

.about-Container-col > aside > button {
    /*position: absolute;*/
    height: 50px;
    width: 200px;
    border-radius: 6px;
    border: transparent;
    background: #191E23;
    box-shadow: 0px 0px 21px rgba(2, 236, 255, 0.61);
    color: #02ECFF;

    font-family: 'Roboto Mono', monospace;
    font-size: 15px;


}


main > section:nth-child(2) > section > h1 {
    color: #eeeeee;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.box-details> section {
    position: absolute;
    right: 10%;
    top: 20%;

}

main > section:nth-child(2) > section > h1 > i {
    margin-right: 40px;
}

main > section:nth-child(2) > section > h1 > span {
    margin-left: 60px;

}

main > section:nth-child(2) > aside > article > p {
}

#about-me> aside{
   /* position: absolute;
    top: 20%;*/
    right: 3rem;
    width:900px ;
    height: 400px;
}
hr{
    height: 200px;
    border: 1px solid white;
    width: 0%;
    margin-bottom: 2rem;
}
#school{
 position: absolute;
    top:30%;
    margin-left: 5%;
}
.box-details {
    position: relative;
    height: 400px;
    width: 700px;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(180deg, rgba(6, 30, 31, 0.35) 0%, rgba(0, 251, 255, 0.01) 100%);
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    display: inline-block;
    margin: 30px;
}

.box:hover {
    background: linear-gradient(180deg, #21282f 0%, rgba(0, 251, 255, 0.07) 100%);
}

#img-devil-logo {
    width: 200px;
    height: 200px;
}
#box-details-logo-box{
    width: 200px;
}

#about-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /*border: solid 1px white;*/
    width: 100%;
    position: relative;
}

#about-me{
    width: 100%;
    height: auto;
    /*border: solid 1px red;*/
    padding: 3rem;
    background: linear-gradient(180deg, #191E23 5.21%, #2B343D 100%);
}
.about-Container-col{
    width: 740px;
    /*border: solid 1px red;*/
    position: relative;
}