main > section:nth-child(4) {
    width: 98vw;
    height: auto;
    position: relative;
    background: linear-gradient(180deg, #191E23 0%, rgba(4, 164, 167, 0.04) 100%);
    margin: 0;
    padding: 3rem;
}

.text-content{
    color: #eeeeee;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    text-align: center;
    /*margin-top: 3rem;*/
    /*width: 90%;*/
    margin-bottom: 20px;
}
.box{
    /*border: solid white 1px;*/
    height: 100%;
    width: 100%;
    /*background-color: #2b3035;*/
    border-radius: 10px;
    padding: 20px;
    /*background: linear-gradient(180deg, #2b3035 0%, rgba(0, 251, 255, 0.01) 100%);*/
    display: inline-block;
    /*margin: 30px;*/
    position: relative;
    background: linear-gradient(180deg, #191E23 5.21%, #2B343D 100%);
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
}
.box:hover{
    background: linear-gradient(180deg, #2b3035 0%, rgba(0, 251, 255, 0.27) 100%);
}
.h1-txt{
    color: white;
    font-size: 30px;
    text-align: center;
    /*margin-top: 1rem;*/
    margin-bottom: 1rem;
}

#git-icon{
    font-size: 60px;
    color: #02ECFF;
    text-align: center;
}
#A-sec{
margin-top: 70px;
}
.btn{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #02ECFF;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.btn:hover{
    border-color: #02ECFF;
    background-color: transparent;
    color: #02ECFF;
}

.assingmet-section{
    margin-top: 70px;
    /*border:  solid 1px white;*/
}
#get{
    position: relative;
}

.h1-ass{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


/*==========================================================================*/

#popup-window{
    height: 80vh;
    width: 80vw;
    /*border: solid white 1px;*/

    background: linear-gradient(180deg, #191E23 100%, rgba(4, 164, 167, 0.04) 100%);
    position: fixed;
    top: 10%;
    left: 10%;
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(16, 206, 206, 0.43);

    padding: 40px;
    transition: 0.5S;


    visibility: hidden;
    z-index: 2;
}

.box-assiment{
    height: 70px;
    width: 90px;
    /*background-color: #2b3035;*/
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(180deg, #2b3035 0%, rgba(69, 137, 139, 0.44) 100%);
    display: inline-block;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-assiment:hover{
    background: linear-gradient(180deg, #2b3035 0%, rgba(0, 251, 255, 0.27) 100%);
}

#close{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-project-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 50px;
    justify-content: center;
    margin-bottom: 20px;
    /*border: solid 1px white;*/
}


.container-project-col{
    /*border: solid 1px #f31f1f;*/
    width: 350px;
    height: 375px;
    position: relative;
    justify-content: center;
}

.project-container{
    width: 100%;
    /*border: solid 1px #0392ff;*/
    margin: 0;
}

.service-container-col{
    width: 100%;
    position: relative;
    /*border: solid 1px white;*/
}

#service-container{
    /*border: solid 1px white;*/
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /*border: solid 1px white;*/
}

#service-container>div:nth-child(5){
    width: 150px;
}
#service-container>div:nth-child(2){
    margin-bottom: 50px;
}
#service-container>div:nth-child(1){
    width: 60px;
    /*border: solid 1px white;*/
}
p{
    text-align: center;
}
