/*


*/

@media (max-width: 320px) {
    /*Home  ====================================================================*/
    main>section:nth-child(1){
        height: 500px;
    }
    main>section:nth-child(1)>aside>img {
        height: 293px;
        right: 10%;
        top: 13%;
    }
    main>section:nth-child(1)>section:nth-child(3)>i {
        font-size: 25px;
    }
    main>section:nth-child(1)>section:nth-child(3) {
        left: 13%;
        top: 8%;
        height: 424px;
        width: 246px;

    }

    main>section:nth-child(1)>section>h1:nth-child(1) {
        top: 9%;
        font-size: 27px;
    }
    main>section:nth-child(1)>section>h2:nth-child(2) {
        font-size: 23px;

    }
    main>section:nth-child(1)>section {
        top: 74%;

    }
    main>section:nth-child(1)>section>h1:nth-child(3) {
        font-size: 17px;
        margin-top: 5px;

    }
    .home-icon > img{
        height: 21px;
        margin-top: 10px;
    }

    /*header ========================================================================*/

    header{
        height: 4%;

    }
    header>nav>a{
        font-size: 12px;
    }
    header>nav{
       margin-left: 0;
    }

/*    about me ===========================================*/

    main>section:nth-child(2)>h2 {
        font-size: 25px;
        margin-left: 20px;
    }
    main>section:nth-child(2)>section {
        top: 50%;
        left: 4%;
    }
    main>section:nth-child(2)>section>h1 {
        font-size: 12px;
        margin-top: 21px;
    }
    main>section:nth-child(2)>section>h1>i {
        margin-right: 20px;
    }

    main>section>aside>h1 {
        font-size: 12px;
    }
    main>section>aside>h1>i {
        margin-right: 18px;
    }
    main>section>aside>h1 {
        right: 25%;
        top: 29%;
    }
    main>section>aside{
        left: 4%;
    }

/*    ================================================*/
/*    about*/

    .box-details {
        height: 534px;
        width: 265px;
        padding: 20px;
        margin: 15px;
        margin-left: -15px;
    }
    .text-h {
        font-size: 15px;
    }
    .box-details> section {
        top: 55%;
    }
    main > section:nth-child(2) {
        height: 1400px;
    }
    #about-me> aside {
        top: 56%;
        right: 3rem;
        width: 268px;
        height: 400px;
    }
    main>section>aside {
        left: 9%;
    }
    p {
        font-size: 12px;
    }
    main > section:nth-child(2) > aside > button {
        height: 32px;
        width: 90px;
        font-size: 10px;
    }
    h1.m-b-2.text-h {
        font-size: 14px;
    }
    span.m-b-1.text-h.m-l{
        font-size: 14px;
    }

    .box {
        height: 265px;
        width: 265px;
        margin: 20px;
        margin-left: -24px;
    }
    .h1-txt {
        font-size: 18px;
    }
    main > section:nth-child(4) {
        height: 1000px;
    }
}